{# templates/security/login.html.twig #}
{% trans_default_domain 'security' %}
{% extends 'front/layout.html.twig' %}

{% block title %}Festnum | Authentification{% endblock %}

{% block content %}
<main>
    <section class="pt-4 pb-4">
        <div class="container">
            {% if error %}
            {# Message d'erreur si la connexion échoue #}
            <div class="fadeInDown animated">
                <div class="alert alert-danger">Erreur d'authentification</div>
            </div>
            {% endif %}
            <h2 class="text-center">Connexion</h2>
            <div class="col-lg-6 mx-auto">
                <div class="card mt-4 mb-4">
                    <div class="card-body">
                        {% if app.user %}
                            {# Si l'utilisateur est connecté #}
                            <div class="mb-3">
                                <p>
                                    Vous êtes déjà connecté en tant que {{ app.user }}.
                                </p>
                                <p>
                                    <a href="{{ path('app_logout') }}" class="btn btn-primary">Se déconnecter</a>
                                </p>
                            </div>
                            {% else %}
                            {# Si l'utilisateur est déconnecté, formulaire d'authentification #}
                            <form method="post">
                                <label for="inputEmail" class="form-label">email</label>
                                <input type="email" name="email" id="inputEmail" class="form-control mb-2" required>
                                <label for="inputPassword" class="form-label">mot de passe</label>
                                <input type="password" name="password" id="inputPassword" class="form-control mb-2" required>
                                {# Champ caché token d'authentification #}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <div class="checkbox mb-3">
                                    <label>
                                        <input type="checkbox" name="_remember_me"> se souvenir de moi
                                    </label>
                                </div>
                                <div class="form-group text-center">
                                    <button class="btn btn-primary btn-block" type="submit">
                                        Connexion
                                    </button>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <p>
                                            Si vous n'avez pas de compte <a href="{{ path('front_register')}}"
                                                class="btn btn-outline-primary btn-block btn-sm">Créez un compte</a>
                                        </p>
                                    </div>
                                </div>
                            </form>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}