/* fixation footer */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/*  ------------------- */

@font-face {
    font-family: "crayon";
    src: url(../font/cf_crayons/CFCrayons-Regular.ttf);
}

h2, h3, .boutonPlay {
    font-family: "crayon";
}

nav a {
    font-family: "crayon";
}

.active {
    background: #0000001c;
    font-size: 1.3rem;
    font-weight: bolder;
}

.navitem:hover {
    background: #7c7c7c10;
}

li {
    list-style: none;
}

body a {
    text-decoration: none;
    color: black;
}

/* jeux cigogne */

.boutonPlay i {
    font-size: 5rem;
    color: #ffffff;
    opacity: 20%;
    margin-top: 100px;
}

.boutonPlay i:hover {
    opacity: 80%;
    transition: all 0.6s;
}

.boutonPlay p {
    opacity: 0;
    transition: all 0.6s;
}

.boutonPlay:hover p {
    opacity: 1;
}

#cigogne.mirror {
    transform: scaleX(-1);
}

#cigogne {
    position: absolute;
    margin-top: 80px;
    top: 0;
    left: 0;
    width: 250px;
    transform: scaleX(1);
}

#fondBleu {
    height: 260px;
    background-image: url(../ressources/fond-cigogne.png);
    margin-top: -50px;
}

/* ------------------ */

/* 5 etoiles */

.rating {
    direction: rtl;
}

.rating a {
    color: #aaa;
    text-decoration: none;
    font-size: 3em;
    transition: color .4s;
}

.rating a:hover, .rating a:focus, .rating a:hover~a, .rating a:focus~a {
    color: orange;
    cursor: pointer;
}

.bobine2 {
    position: absolute;
    right: 0;
    margin-top: 101px;
}

.bobine {
    position: absolute;
    margin-top: 104px;
    margin-left: 204px;
}