{% extends 'front/layout.html.twig' %}

{% block title %}Festnum | Contact{% endblock %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="text-center my-3 py-3">
            <h2 class="mb-0">Contact</h2>
        </div>
        <div>
            <p class="p-4 col-sm-10 offset-sm-1 col-md-6 offset-md-3 mt-2 text-center bg-light rounded-3">
                Adresse: 11 rue du Terrage- 75010-Paris-France 55 rue Servan 75011 Paris Chaibia Abir
                chaibia.abir@colombbus.org Alexis De Col alexis.decol@colombbus.org Mikaël Lewi
                mickael.lewi@colombbus.org Nicolas de Bresson nicolas.debresson@colombbus.org
            </p>
        </div>
        <div class="col-10 offset-1 col-md-8 offset-md-2">
            <div class="ratio ratio-16x9">
                <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2624.0025465613835!2d2.3635621999999894!3d48.877227999999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e74a2784d1d%3A0x24dd226ba319689b!2s10%20Rue%20du%20Terrage%2C%2075010%20Paris!5e0!3m2!1sfr!2sfr!4v1621242547977!5m2!1sfr!2sfr"
                    allowfullscreen="">
                </iframe>
            </div>
        </div>
    </div>
</main>
{% endblock %}