{% extends 'front/layout.html.twig' %}

{% block title %}Festnum | Jury{% endblock %}

{% block content %}
<main class="container">
    <div class="text-center py-3 my-3">
        <h2 class="mb-0">Jury du festival</h2>
    </div>
    <div class="row px-2">
        <div class="chaibia text-center col-sm-12 col-md-3">
            <img class="border border-success border-5 rounded-circle mb-2" width="210"
                src="{{ asset('ressources/avatar_chaibia.png') }}" alt="avatar de Chaibia">
            <div><strong>Chabia Abir</strong>
                <p class="mt-2 p-2 bg-light">J'ai travaillé dans un Data-center avant de m'orienter vers le métier
                    d'intégratrice Front-end.
                    Je suis la cheffe de projet de Festnum </p>
            </div>
        </div>
        <div class="alexis text-center col-sm-12 col-md-3">
            <img class="border border-danger border-5 rounded-circle mb-2" width="210"
                src="{{ asset('ressources/avatar_alexis.png') }}" alt="avatar d'Alexis'">
            <div><strong>Alexis de Col</strong>
                <p class="mt-2 p-2 bg-light">J'ai fait des études au Conservatoire des Arts et Métiers (DUT) avant
                    de
                    m'orienter vers le métier de développeur back end.
                    Je suis le développeur PHP de Festnum et le concepteur du logo de Festnum</p>
            </div>
        </div>
        <div class="mika text-center col-sm-12 col-md-3">
            <img class="border border-warning border-5 rounded-circle mb-2" width="210"
                src="{{ asset('ressources/avatar_mikael.png') }}" alt="avatar de Mikael">
            <div><strong>Mikaël Lewi</strong>
                <p class="mt-2 p-2 bg-light">Diplômé de l'École Supérieure des Beaux-arts d'Angers, J'ai fait un
                    stage à
                    Zorobabel, un studio de dessin animé. Après mes études je me suis orienté vers l'informatique
                    .J'ai fait une formation à 3dsmax et Cinéma 4D. Je m'intéresse aux jeux vidéos et à la
                    programmation.
                    Je suis développeur front-end créatif de Festnum</p>
            </div>
        </div>
        <div class="nico text-center col-sm-12 col-md-3">
            <img class="border border-info border-5 rounded-circle mb-2" width="210"
                src="{{ asset('ressources/avatar_nicolas.png') }}" alt="avatar de Nicolas">
            <div><strong>Nicolas de Bresson</strong>
                <p class="mt-2 p-2 bg-light">D'abord étudiant à l'ISART pour être Game Artist, j'ai exercé pendant
                    une
                    dizaine d'années la profession de graphiste freelance avant de me tourner vers le métier de
                    développeur web.
                    Je suis développeur front-end de Festnum.</p>
            </div>
        </div>
    </div>
</main>
{% endblock %}