{% if app.request.hasPreviousSession %}
{% set flashbag = app.session.flashbag.all() %}
{% if flashbag|length %}
<div id="flash_message" class="container mt-3">
    {% for type, messages in flashbag %}
    {% for message in messages %}
    <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
        <span class="visually-hidden">{{ ('alert.' ~ type)|trans() }} : </span>{{ message|raw|nl2br }}
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endfor %}
</div>
{% endif %}
{% endif %}