body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

body a {
    text-decoration: none;
    color: black;
}

.active {
    background: #0000001c;
    font-size: 1.3rem;
    font-weight: bolder;
}

.navitem:hover {
    background: #7c7c7c10;
}

li {
    list-style: none;
}