{% extends 'base.html.twig' %}

{% block stylesheets %}
{{ encore_entry_link_tags('front_app') }}
{% endblock %}

{% block nicolas %}
réécriture d'un bloc
{% endblock %}

{% block body %}

<body>
    <header>
        {# {% block flash_message %}
        {% include "block/_flash_message.html.twig" %}
        {% endblock %} #}

        {% block navbar %}
        {% include "front/block/_navbar.html.twig" %}
        {% endblock %}
    </header>

    {% block content %}
    {% block banner%}{% endblock %}
    {% endblock %}

    {% block footer %}
    {% include "front/block/_footer.html.twig" %}
    {% endblock %}


    {% block javascripts %}
    {{ encore_entry_script_tags('front_app') }}
    {% endblock %}
</body>
{% endblock %}