/* fixation footer */

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1 0 auto;
}

/*  ------------------- */

@font-face {
    font-family: "crayon";
    src: url(../font/cf_crayons/CFCrayons-Regular.ttf);
}

h2, h3, .boutonPlay {
    font-family: "crayon";
    text-decoration: none;
}

nav a {
    font-family: "crayon";
    text-decoration: none;
    color: black;
}

.bouton a {
    text-decoration: none;
    color: #888888;
    transition: all 0.6s;
}

.bouton:hover a {
    background: #7c7c7c10;
    color: #222222;
}

.active {
    background: #0000001c;
    font-size: 1.3rem;
    font-weight: bolder;
}

.navitem:hover {
    background: #7c7c7c10;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
}

/* jeux cigogne */

.boutonPlay {
    position: absolute;
}

.boutonPlay i {
    font-size: 5rem;
    color: #ffffff;
    opacity: 20%;
}

.boutonPlay i:hover {
    opacity: 80%;
    transition: all 0.6s;
}

.boutonPlay p {
    opacity: 0;
    transition: all 0.6s;
}

.boutonPlay:hover p {
    opacity: 1;
}

.boutonOff {
    position: absolute;
    margin-right: 0;
    margin-top: 0;
}

/* .boutonOff i {
    font-size: 3rem;
    color: #ffffff;
    opacity: 20%;
} */

#cigogne.mirror {
    transform: scaleX(-1);
}

#cigogne {
    margin-top: 70px;
    position: absolute;
    top: 0;
    left: 0;
    width: 250px;
    transform: scaleX(1);
}

/* .container-video {
    position: relative;
    overflow: hidden;
}

.video {
    margin-bottom: -400px;
    margin-top: -480px;
} */

#fondBleu {
    position: relative;
    height: 260px;
    background-image: url(../ressources/fond-cigogne.png);
    margin-top: 0px;
    animation: 3s linear infinite reverse running fondBleu;
}

@keyframes fondBleu {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 920px 0;
    }
}