<footer class="mt-5">
    <div class="bg-light text-center py-2">
        <span>
            Copyright -2021- FESTNUM
        </span>
        <a class="mx-1" href="#"><i class="fab fa-facebook-f"></i></a>
        <a class="mx-1" href="#"><i class="fab fa-vimeo-v"></i></a>
        <a class="mx-1" href="#"><i class="fab fa-youtube"></i></a>
        <a class="mx-1" href="#"><i class="fab fa-discord"></i></a>
    </div>
</footer>